# 1 what will be the ouput of the following Python program ?

In [1]:
def foo(x):
    x[0]=['def']       # The function foo(q) modifies q inside the function by changing q[0] to ['def'] and q[1] to ['abc'].
    x[1]=['abc']
    return id(x)     # q is a list containing two strings, 'abc' and 'def'.
q=['abc','def']       # Initially, q is ['abc', 'def'].

In [2]:
print(id(q)==foo(q)) # The expression id(q) == foo(q) checks if the memory address of q is equal to the result of foo(q)

True

# 2. What will be the output of the following Python code

In [4]:
def fun():
    try:
        return 1   # try block: The code inside the try block attempts to execute, and it contains the statement return 1
    finally:
        return 2 # finally block: The finally block always executes, regardless of whether there was an error in the try block or not

In [5]:
k=fun()
print(k)  # This means that, no matter what happens in the try block, the function will always return the value 2

2

# 3  What will be the output of the following code snippet

In [8]:
def func():  # global value: Inside the function, there is a global keyword followed by the variable name value.
    global value 
    value = "local"

In [9]:
value = "global"

In [10]:
func()  # When the function is called, it updates the global variable value to "local".
print(value) # After the function call, when you print the value of the global variable value, it will be "local" because the function modified the global variable.

local

# 4_______ exception are raised as a result of an error in opening a particular file 
a)value error
b)type error
c)import errror
d)ioerror

 Answer is ioerror

### In Python, IOError is raised when an error occurs while performing input/output operations, such as when there's an issue opening or accessing a file. So, if there is an error in opening a particular file, Python will raise an IOError exception.

# 5 In python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed

### a) x = 13 // 2
### b) x = int(13/2)
### c) x = 13 % 2
### d) all of the mentioned

In [ ]:
Answer = d) All of the mentioned

### In Python, the type of a variable is dynamically determined at runtime, and you don't need to explicitly specify types in most cases


### a) x = 13 // 2: This performs integer division, and the result is 6 (the floor division of 13 by 2). The type of x will be an integer.

### b) x = int(13 / 2): Here, you're explicitly converting the result of the division to an integer using the int() function. The result is 6, and the type of x will be an integer.

### c) x = 13 % 2: This performs the modulus operation, and the result is 1. The type of x will be an integer.

# 6  What will be the output of the following pthon code

In [1]:
t[5] # NameError: name 't' is not defined
# This will raise a NameError if 't' is not defined or assigned a value

NameError: name 't' is not defined

### In Python, when you try to access an element of a variable that hasn't been defined or assigned a value, you will get a NameError because the interpreter doesn't know what t refers to.

# 7 A while loop is used for indefinite iteration.

In [2]:
count = 0        # A while loop in Python is used for indefinite iteration

while count < 5:   # it continues to execute as long as a specified condition is true
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

# 8 What will be the output of the following Python code

In [12]:
x="abcdef"

In [14]:
while i in x:
    print(i,end="")

TypeError: 'in <string>' requires string as left operand, not int

### > while i in x:: This line starts a while loop with the condition i in x. The intention seems to be iterating through the characters of the string x until i is not in x

### > print(i, end=""): This line prints the value of i without a newline.

### The variable i is not defined before the while loop. It seems like you are trying to iterate through the characters of the string x, but the loop condition is currently looking for the existence of i in the string, which is not defined

### The error TypeError: 'in string requires string as left operand, not int occurs because i is not defined, and 
### is interpreting it as an integer (which it isn't). The in operator expects both operands to be of the same type (either both strings or both integers).

# 9 What is main advantage of using decorators in Python

In [ ]:
a)they make code more code more complex
b)they simplify the syntax of decorated function
c)they reduse performance of code
d)they provide additional security featyures

### Answer= 
### b) They simplify the syntax of decorated functions


### Decorators in Python offer a concise and readable way to modify or extend the behavior of functions or methods. They provide a clean and reusable way to wrap or enhance the functionality of functions

# 10 If return statement is not used inside the function, the funtion will return

In [ ]:
a)none
b)0
c)null
d)arbitary value

### Answer=a) None

### If a return statement is not used in a function, Python implicitly returns None by default. So, if the function completes its execution without encountering a return statement, it effectively returns None.

# 11 When a function is defined inside a class it is called as __________

In [ ]:
a)class
b)function
c)method
d)module

### Answer=c) method

#### When a function is defined inside a class in Python, it is referred to as a method

# 12 Which operator is used in python to import modules from packages

In [ ]:
which oprator is used in python to import modules from packages
a).
b)*
c)->
d)&

### Answers= a)

### the dot (.) operator is used to import modules from packages. The dot operator is used to navigate the hierarchy of packages and access the modules contained within them.

# 13

In [18]:
def getMonth(m):
    if m<1 or m>12:  # If the provided month value is not in the valid range (1 to 12),
         raise ValueError("Invalid")
    print(m)

In [19]:
getMonth(6)

6

In [ ]:
#Function to print the month if it is valid, otherwise raises a ValueError.

    #Parameters:
    - m (int): Month value to be checked.

   # Raises:
    - ValueError: If the provided month value is less than 1 or greater than 12.

    #Returns:
    - None: If the month is valid, it prints the month value; otherwise, it raises an exception.

### This function is a simple example of input validation, ensuring that the provided month value is within a valid range. The use of a ValueError makes it clear that an exceptional condition has occurred.

# 14 In python programming Language syntax error is detected by _____ at ____

In [ ]:
a)interpreter/compile time
b)run time/interpreter 
c)interpreter/ run time
d)compile time/ run time

### Answer=d) compile time/ run time

### Syntax errors in Python are detected by the interpreter during the compilation phase, which occurs before the code is run.

# 15

In [2]:
class  Book:
    def __init__(self,author):
        self.author=author

In [3]:
book1=Book("V.M.shah")

In [4]:
book2=book1

In [5]:
book1

In [7]:
id(book1)

1710436074512

In [8]:
id(book2)

1710436074512

### Answers= b) id(book1) and id(book2) will have the same value

### When you assign book1 to book2, both variables refer to the same object, and therefore, the id() values for book1 and book2 will be the same.

In [2]:
import pandas as pd

data = {
    'Date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-10', '2024-01-09', '2024-01-08']),
    'Category': ['Beverage', 'Food', 'Beverage', 'Beverage', 'Beverage', 'Food'],
    'Product': ['Cappuccino', 'Croissant', 'Espresso', 'Latte', 'Latte', 'Muffin'],
    'CustomerID': ['C004', 'C002', 'C001', 'C001', 'C003', 'C002'],
    'Quantity': [1, 2, 2, 3, 1, 1],
    'UnitPrice': [3, 2, 2, 3.5, 3.5, 2.5]
}

df = pd.DataFrame(data)

print(df)

        Date  Category     Product CustomerID  Quantity  UnitPrice
0 2024-01-01  Beverage  Cappuccino       C004         1        3.0
1 2024-01-02      Food   Croissant       C002         2        2.0
2 2024-01-03  Beverage    Espresso       C001         2        2.0
3 2024-01-10  Beverage       Latte       C001         3        3.5
4 2024-01-09  Beverage       Latte       C003         1        3.5
5 2024-01-08      Food      Muffin       C002         1        2.5

# 16 How to Create a new column Revenue which has value equals to the Quantity * UnitPrice of the current row

In [3]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']
df['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

In [4]:
df['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

### Answer= a) df['Revenue'] = df['Quantity'] * df['UnitPrice']



### df['Quantity']: This retrieves the values from the 'Quantity' column of the DataFrame df
### df['UnitPrice']: This retrieves the values from the 'UnitPrice' column of the DataFrame df
### df['Quantity'] * df['UnitPrice']: This performs element-wise multiplication 


### df['Revenue'] = df['Quantity'] * df['UnitPrice']: This creates a new column named 'Revenue' in the DataFrame df and assigns it the values obtained from the multiplication operation.

# 17 What is the syntax to find Categorical wise revenue

In [ ]:
a) df.groupby('Category')['Revenue'].mean()
b) df.groupby('Category')['Revenue'].sum()
c) df.groupby('Category')['Revenue'].agg(np.sum)
d) df.groupby('Category')['Revenue'].agg('sum')

### Answer= d)

#### df.groupby('Category')['Revenue'].agg('sum')

In [9]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']
categorical_wise_revenue = df.groupby('Category')['Revenue'].agg('sum')
print(categorical_wise_revenue)

Category
Beverage    21.0
Food         6.5
Name: Revenue, dtype: float64

### The line df['Revenue'] = df['Quantity'] * df['UnitPrice'] creates a new 'Revenue' column in the DataFrame by multiplying the 'Quantity' and 'UnitPrice' columns

### The line categorical_wise_revenue = df.groupby('Category')['Revenue'].agg('sum') groups the DataFrame by 'Category' and calculates the sum of the 'Revenue' values within each group

### The result, categorical_wise_revenue, is a Series where the index represents unique categories, and the values represent the total revenue for each category

# 18 To find the average quantity wrt t date and product what is the correct syntax?

In [ ]:
Answers= b)

df.groupby(['Date', 'Product'])['Quantity'].mean()

In [9]:
df.groupby(['Date', 'Product'])['Quantity'].mean() # groupby method along with the mean function.

Date        Product
2024-01-01  Cappuccino    1.0
2024-01-02  Croissant     2.0
2024-01-03  Espresso      2.0
2024-01-08  Muffin        1.0
2024-01-09  Latte         1.0
2024-01-10  Latte         3.0
Name: Quantity, dtype: float64

### pandas Series where the index consists of unique combinations of 'Date' and 'Product', and the values are the average quantities for each combination.

# 19 Categorical wise revenue for Bevarage and Food respectively are

a) 28.5 , 6.0
b) 6.0 , 27.5
c) 28.5 ,7.0
d) 7.0 , 28.5

### Answer= a)

In [4]:
# Calculate the revenue for each category (Quantity * UnitPrice), then sum the results for each category
revenue_by_category = df.groupby('Category').apply(lambda x: (x['Quantity'] * x['UnitPrice']).sum())

# Extract the revenue values for 'Beverage' and 'Food'
revenue_beverage = revenue_by_category.loc['Beverage']
revenue_food = revenue_by_category.loc['Food']

# Print the results
print("Categorical-wise Revenue for 'Beverage' and 'Food' respectively are:")
print(revenue_beverage, ",", revenue_food)

Categorical-wise Revenue for 'Beverage' and 'Food' respectively are:
21.0 , 6.5

### > Grouping by 'Category':
### The groupby method is used to group the DataFrame 'df' by the 'Category' column.

### >Applying a Lambda Function:
### The apply method is used to apply a lambda function to each group. The lambda function calculates the revenue for each row in the group using the formula (x['Quantity'] * x['UnitPrice']). This results in a Series of revenue values for each group.

### >Summing the Results:
### The sum method is applied to the result of the lambda function to get the total revenue for each group.

### The result, revenue_by_category, is a Series where the index is the unique values in the 'Category' column, and the values are the total revenue for each category

# 20 Using transform, What is the syntax to create a column which has a unitprice difference wrt its category mean

In [ ]:
a) df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())
b) df.groupby('Category')('UnitPrice').transform(lambda x: x - x.mean())
c) df.groupby['Category']['UnitPrice'].transform(lambda x: x - x.mean())
d) df.groupby(['Category','UnitPrice']).transform(lambda x: x - x.mean())

### Answer=a)

### df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

In [12]:
df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean()) 

# use transform to broadcast the calculated differences back to the original DataFrame
# The lambda function inside transform calculates the difference between each 'UnitPrice' and its group mean

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: UnitPrice, dtype: float64

### df.groupby("category"): Groups the DataFrame by the 'category' column
### ["unitprice"]: Selects the 'unitprice' column from the grouped data
### .transform(lambda x: x - x.mean()): Applies a lambda function to calculate the difference between each unit price (x) and the mean unit price of its category.

# 21 what is correct syntax to get data wrt "monday"

a) df.groupby(df.Date.dt.day_name()).get_group('Monday')
b) df.groupby(df.Date.dt.dayname()).get_group('Monday')
c) df.groupby(df.Date.dt.dayofweekname()).get_group('Monday')
d) df.groupby(df.Date.dt.day_of_weekname()).get_group('Monday')

### Answer= a) 

### a) df.groupby(df.Date.dt.day_name()).get_group("Monday")


### This syntax correctly uses the groupby method with the get_group method to filter the DataFrame for data corresponding to Mondays based on the day name.

# 22 Which of the following statements is / are true

### Answer= d)

 d) apply applies the function one cell at a time

### The apply function in pandas can be applied to a Series or DataFrame. When applied to a Series, it operates on each element of the Series. When applied to a DataFrame, it can operate on either rows or columns, depending on the specified axis.

# 23 Which of the following statements is / are true

In [ ]:
a) Map applies the functionality on entire DataFrame
b) Applymap applies the functionality on series be it ro or a column
c) Apply and Map are vectorized applications
d) None of the above

### Answer = b)

### b) applymap applies the functionality on each element of the DataFrame, whether it's a row or a column.

### >map is used for element-wise transformations on a Series.
### >apply can be used to apply a function along the axis of a DataFrame, either on rows or columns, based on the specified axis parameter.
### >applymap is specifically designed for element-wise operations on DataFrames.

In [3]:
data = {
    'Date': pd.to_datetime(['2024-01-10', '2024-01-11', '2024-01-10', '2024-01-12', '2024-01-11', '2024-01-12']),
    'Region': ['North', 'South', 'East', 'West', 'North', 'East'],
    'Salesperson': ['Ajay', 'Balu', 'Chirag', 'Ajay', 'Balu', 'Chirag'],
    'Product': ['Notebook', 'Pen', 'Notebook', 'Pen', 'Binder', 'Binder'],
    'Quantity': [5, 10, 7, 15, 20, 10],
    'UnitPrice': [12, 3, 12, 3, 5, 5]
}
df1 = pd.DataFrame(data)

df1

        Date Region Salesperson   Product  Quantity  UnitPrice
0 2024-01-10  North        Ajay  Notebook         5         12
1 2024-01-11  South        Balu       Pen        10          3
2 2024-01-10   East      Chirag  Notebook         7         12
3 2024-01-12   West        Ajay       Pen        15          3
4 2024-01-11  North        Balu    Binder        20          5
5 2024-01-12   East      Chirag    Binder        10          5

# 24 create a pivot table with index ass Nort and South and Columns as Product Where values are sum of Quantities Sold

In [ ]:
a) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')
b) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
c) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity',        aggfunc='sum')
d) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

### Answer=a)

 df[df['Region'].isin(['North', 'South'])]
df.pivot_table(values='Quantity', index='Region', columns='Product', aggfunc='sum')

 The isin(['North', 'South']) method checks whether each value in the 'Region' column is in the specified list

 index='Region': Sets the 'Region' column as the index of the pivot table.
 columns='Product': Sets the 'Product' column as the columns of the pivot table.
 aggfunc='sum': Specifies the aggregation function to be the sum


 Now, the pivot_table contains the sum of quantities sold for each combination of 'Region' and 'Product' where 'Region' is either 'North' or 'South'.

# 25 Which of the following statements is/are True

In [ ]:
a) .iloc method includes the last element when used for slicing
b) .loc method doesn't includes the last element when used for slicing
c) .loc method includes the last element and pass default integer index of rows when slicing
d) None of above

### Answer= a)

 a) .loc method includes the last element when used for slicing.
 
  .iloc is primarily integer-location based indexing for selection by position. When you use .iloc for slicing, it includes the start index but excludes the stop index. This is consistent with Python's standard slicing behavior.

 On the other hand, .loc is label-based indexing. When used for slicing, it includes both the start and stop indices.

### When using the .loc method for slicing with labels, the range is inclusive of both the start and end labels.


#### ex-

#### df = pd.DataFrame({'A': [1, 2, 3, 4, 5]}, index=['a', 'b', 'c', 'd', 'e'])

### .loc slicing, includes both 'b' and 'd'
#### result = df.loc['b':'d', 'A']  # df.loc['b':'d', 'A'], 'b' is the starting label, and 'd' is the ending label. access the column 'A'
##### print(result)

# 26. Using a pivot table is it possible to create a multi-index dataframe ,if so what is the syntax to have a multi index of date and region, with total product sold as values

In [ ]:
a) No we can't create a multiindex table using pivot table
b) df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')
c) df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', agg = 'sum')
d) None of these

### Answer= b)

 df.pivot_table(index=['date', 'region'], columns='product', values='quantity', aggfunc='sum')
Create a pivot table to summarize the total quantity of each product in each region on each date

In [4]:
df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')

Product            Binder  Notebook   Pen
Date       Region
2024-01-10 East       NaN       7.0   NaN
           North      NaN       5.0   NaN
2024-01-11 North     20.0       NaN   NaN
           South      NaN       NaN  10.0
2024-01-12 East      10.0       NaN   NaN
           West       NaN       NaN  15.0

### > index=['date', 'region']: Specifies the columns to be used as the index for the pivot table. In this case, 'date' and 'region' are used to create a multi-index.

### > columns='product': Specifies the column whose unique values will become the columns of the pivot table.

### > values='quantity': Specifies the column whose values will be aggregated in the pivot table. Here, 'quantity' is the column containing the quantities sold.

### > aggfunc='sum': Specifies the aggregation function to be used when aggregating values. In this case, the 'sum' function is used to calculate the total quantity sold for each combination of 'date', 'region', and 'product'.

# 27 What does the margins parameter in pivot_table() allows to include in the pivot table

In [ ]:
a) additional margins  and subtotals for rows and columns 
b)  a list of column names to exclude from the pivot_table 
c) the numbers of rows and columns to skip at the beginning of the pivot table 
d) the maximum number of rows and columns to display the pivot table

In [6]:
data = {
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']}

df2 = pd.DataFrame(data)

df2

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

### Answer= a)

a) additional margins and subtotals for rows and columns


The margins parameter in the pivot_table function allows you to include additional margins and subtotals for rows and columns in the resulting pivot table. 


When you set margins=True, it adds the margins at the end of the rows and columns to display totals for rows, columns, and the grand total.

# 28 If we choose to imputing missing values in Price Col by Chaining ffill() and bfill() while limiting the imputation to 1,1 respectively , how many missing values will be left post imputation

a) 2
b) 0
c) 1
d) 3

Answer= d) There are 3 missing values left after ffill & bfill imputation

In [3]:
df = pd.DataFrame({
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']
})
df

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

In [7]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)

In [8]:
df2

    Fruits  Price
0    apple    NaN
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple    NaN
18   grape    NaN

# 29 What kind of missing values handling technique is appropriate for df2

In [ ]:
a) imputing price col with price mean
b) imputing price col with price median 
c) imputing price col with individual fruits price median
d) dropping missing value

### > Observations:
The 'Fruits' column represents different categories of fruits.

### > Appropriate Technique:

Since the missing values in the 'Price' column are related to different fruits, imputing with the overall mean or median may not be the best approach

A more appropriate technique would be to impute the missing values in the 'Price' column with the median of each fruit's prices.

### Answer = a)

imputing price col with individual fruits price median

# 30 If we choose to impute missing values in Price col by with individual Fruits' Price's mean, how many missing values will be post imputation?

a) 2
b) 0
c) 1
d) 3

### Answer = b)

In [10]:

df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.median()))
df2

    Fruits  Price
0    apple  205.0
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple  205.0
18   grape   35.0

# 31 a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7]) What will be the output of a.interpolate()

In [ ]:
a) [nan,1.0,2.0,2.3,2.7,3.1,3.5,4.0,5.0,7.0]
b) [nan,1.0,2.0,2.5,2.9,3.3,3.8,4.0,5.0,7.0]
c) [nan,1.0,2.0,2.4,2.8,3.2,3.6,4.0,5.0,7.0]
d) Error

In [7]:
import numpy as np

In [8]:
a=pd.Series([np.nan, 1,2, np.nan, np.nan,np.nan, np.nan, 4, 5, 7])  # # Create a pandas Series with some NaN values

In [9]:
a

0    NaN
1    1.0
2    2.0
3    NaN
4    NaN
5    NaN
6    NaN
7    4.0
8    5.0
9    7.0
dtype: float64

In [10]:
a.interpolate() # Use the interpolate method to fill NaN values with linear interpolation

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

### > pd.Series: This creates a pandas Series, which is a one-dimensional labeled array, from the given list [np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7]

### > a.interpolate(): This is calling the interpolate method on the Series a. The interpolate method fills NaN values in the Series using linear interpolation

### >Linear Interpolation: Linear interpolation is a method to estimate values between two known values. In this case, the NaN values in the Series are filled by linearly interpolating between the existing values.

# 32 What is the use of the normalization parameter in the crosstab method of pandas

In [ ]:
a) It is used to normalize values by dividing them by the total count
b) to add margins
c) ther is no parameter called as normalize in crosstab
d) Both a & c

### Answer = a)

It used to normalize values by dividing them by the total count

### The normalize parameter in the crosstab method is used to normalize the computed cross-tabulation by dividing all values by the sum of values, resulting in proportions or percentages.

In [11]:
df = pd.DataFrame({'Age Group': ['26-35', '18-25', '18-25', '26-35', '18-25', '18-25'],
    'Favorite Color': ['Blue', 'Red', 'Red', 'Blue', 'Red', 'Blue'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Female'],
    'Has Pet': ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']})
df

  Age Group Favorite Color  Gender Has Pet
0     26-35           Blue    Male     Yes
1     18-25            Red  Female     Yes
2     18-25            Red    Male     Yes
3     26-35           Blue  Female     Yes
4     18-25            Red  Female     Yes
5     18-25           Blue  Female      No

Answer = a)

It used to normalize values by dividing them by the total count

# 33  What is the probability of finding a Male and having a Pet in df3?

In [ ]:
a)0.333
b)0.666
c)0.5
d)0.1667

In [15]:
total_observations = len(df)
male_has_pet = len(df[(df['Gender'] == 'Male') & (df['Has Pet'] == 'Yes')])
probability = male_has_pet / total_observations

print(probability)

0.3333333333333333

### So, the probability of finding a Male and having a Pet is:

                Number of Males with Pet
### Probability= --------------------------
                 Total Number of Males
                 
               2
### Probability= ----- = 1
               2
               
### However, it seems that the correct probability is 1, which is not listed among the provided options (a, b, c, d). If we consider the closest option, it would be:

### a) 0.333

# 34  What is the probabilty of finding a person having Pet given they belong to the age group 18-25 in df3

In [ ]:
a) 0.25
b) 0
c) 0.75
d) 1

In [12]:
total_count = len(df[df['Age Group'] == '18-25'])
pet_count = len(df[(df['Age Group'] == '18-25') & (df['Has Pet'] == 'Yes')])

# Probability = (Number of people with pets in the age group 18-25) / (Total number of people in the age group 18-25)
probability = pet_count / total_count

# Print the result
print(f"The probability of finding a person having a pet given they belong to the age group 18-25 is: {probability:.2f}")

The probability of finding a person having a pet given they belong to the age group 18-25 is: 0.75

# 35 Which distribution is appropriate for modeling the number of defects in a large batch of products

In [ ]:
a) Normal
b) Binomial
c) Bernouli
d) Uniform

### Answer = b)

binomial

### The binomial distribution is suitable when the following conditions are met:
    
    
1.There are a fixed number of trials or products in the batch (each product being a trial).
2.Each trial (product) can result in one of two outcomes: defective or non-defective.
3.The trials are independent.
4.The probability of success (defect) is constant for each trial.


In the context of defects in a batch of products, the binomial distribution can be used to model the number of defective items in a fixed-size batch, assuming each item can be either defective or non-defective, and the probability of a defect is constant across items.

# 36. A survey asks participants to rate their satisfaction with product on a scale of 1 to 5 What type of data is being collected

a) Categorical data
b) Ordinal data
c) Continuous data
d) Discrete data

### Answer= b)

Ordinal data represents categories with a meaningful order or ranking but does not have a consistent interval between the categories. In this case, the satisfaction ratings on a scale of 1 to 5 have a clear order, indicating the level of satisfaction from lower to higher.

# 37. From given fig. in question , what kind of distribution does the data follow

In [ ]:
a) Right skewed
b) Left skewed
c) Normal
d) Uniform

### Answer = a) Right skewed

### > Mode, Median, Mean Relationship:
The mode (the most frequent value) is usually less than the median.
The median is positioned between the mode and the mean.
The mean is typically greater than the median.


### > Tail:
The right tail is longer and extends further than the left tail.
There are relatively few extreme values on the left side, but there can be some very large values on the right side.

### > Shape:
The bulk of the data is concentrated on the left, making the distribution appear lopsided to the right.
The right-skewed shape is sometimes referred to as "skewed to the right" or "positively skewed."

### > Histogram:
In a histogram, the bars are lower on the right side and higher on the left side, creating an asymmetrical appearance.

# 38 In data with outliers , what is the best measure to estimate the dispersion

In [ ]:
a) Standard Deviation
b) Z-score
c) Median Absolute Deviation
d) Uniform

### Answer = c) Median Absolute Deviation

### > Standard Deviation (a): Standard deviation is sensitive to outliers because it involves squaring the differences between each data point and the mean. Outliers can have a significant impact on the squared differences, leading to an inflated standard deviation


### > Z-score (b): The Z-score is a measure of how many standard deviations a data point is from the mean. While it can identify outliers, it relies on the standard deviation and can be influenced by extreme values


### > Median Absolute Deviation (c): MAD is calculated based on the median of the data, making it less sensitive to outliers. It measures the dispersion by taking the median of the absolute differences between each data point and the median of the dataset. MAD is not affected by extreme values in the same way as standard deviation


### > Uniform (d): "Uniform" is not a common measure of dispersion in statistics. It doesn't represent a specific statistical method for handling data with outliers

### In summary, MAD is a more robust measure of dispersion in the presence of outliers because it relies on the median, which is less influenced by extreme values than the mean.