In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_path = r"D:\data analyst\datasets\multi_index_assignment_261_264-1 - sheet - 1.csv"

df = pd.read_csv(file_path, header=[0, 1], index_col=[0, 1,2]).rename_axis(index=['State', 'Region', 'Product']).rename_axis(columns=['Year', 'Semester'])
print(df.head())

Year                                      2014            2015          \
Semester                               Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region       Product
Telangana Hyderabad    Smart Phone         253     113      93     223
                       Smart TV            183     213     263     183
                       Air Conditioner     153     233     193     223
          Secunderabad Smart Phone          93     273     263     213
                       Smart TV            123     123     103     143

Year                                      2016            2017          \
Semester                               Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region       Product
Telangana Hyderabad    Smart Phone         173      93      93     253
                       Smart TV            263     113     233     273
                       Air Conditioner     283     143      93     193
          Secunderabad Smart Phone         173     133     213     113
                       Smart TV            113     143     263     163

Year                                      2018            2019          \
Semester                               Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region       Product
Telangana Hyderabad    Smart Phone         153     173     193     203
                       Smart TV            263     273      93     153
                       Air Conditioner     153     153     243     203
          Secunderabad Smart Phone         133     153     203     123
                       Smart TV             93     243     193     263

Year                                      2020            2021          \
Semester                               Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region       Product
Telangana Hyderabad    Smart Phone         193     253     283     193
                       Smart TV            243     253     193     243
                       Air Conditioner     183     113     203     183
          Secunderabad Smart Phone         263     163     143     183
                       Smart TV            163     153     123     223

Year                                      2022            2023
Semester                               Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region       Product
Telangana Hyderabad    Smart Phone         103     203     243     153
                       Smart TV             93     263     193     193
                       Air Conditioner     103     273     183     183
          Secunderabad Smart Phone         203     143     283     133
                       Smart TV            143     253     143     273

In [3]:
df.sort_index(inplace=True)

In [4]:
df

Year                                           2014            2015          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     273     103
                            Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
          North Bangalore   Air Conditioner     113     243     173     113
                            Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
          South Bangalore   Air Conditioner     203     173     123     213
                            Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
Tamilnadu Central Chennai   Air Conditioner     103     213      93     283
                            Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
          North Chennai     Air Conditioner      93     133      93     153
                            Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
          South Chennai     Air Conditioner     263     233     193     203
                            Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
Telangana Hyderabad         Air Conditioner     153     233     193     223
                            Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
          Rangareddy        Air Conditioner     123     103     223     123
                            Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
          Secunderabad      Air Conditioner     173     163     183     273
                            Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143

Year                                           2016            2017          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     103     113     143     243
                            Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
          North Bangalore   Air Conditioner     253     223     203     113
                            Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
          South Bangalore   Air Conditioner     153     173     203     213
                            Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
Tamilnadu Central Chennai   Air Conditioner     233     233     233     103
                            Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
          North Chennai     Air Conditioner     163     193     273     243
                            Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
          South Chennai     Air Conditioner     193     283     173     283
                            Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
Telangana Hyderabad         Air Conditioner     283     143      93     193
                            Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
          Rangareddy        Air Conditioner     193     253      93     113
                            Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
          Secunderabad      Air Conditioner     273     133     203     173
                            Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163

Year                                           2018            2019          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     153     193     153
                            Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
          North Bangalore   Air Conditioner     213     283     243     143
                            Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
          South Bangalore   Air Conditioner     213     103     273     123
                            Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
Tamilnadu Central Chennai   Air Conditioner     173     263     283      93
                            Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
          North Chennai     Air Conditioner     263     103     183     173
                            Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
          South Chennai     Air Conditioner     143     163     263     243
                            Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
Telangana Hyderabad         Air Conditioner     153     153     243     203
                            Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
          Rangareddy        Air Conditioner     133      93     273     253
                            Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
          Secunderabad      Air Conditioner     243     163     173     263
                            Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263

Year                                           2020            2021          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     193     133     133     123
                            Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
          North Bangalore   Air Conditioner     203     253     203     253
                            Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
          South Bangalore   Air Conditioner     163      93     283     143
                            Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
Tamilnadu Central Chennai   Air Conditioner     153     273     113     183
                            Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
          North Chennai     Air Conditioner     213     123     153     123
                            Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
          South Chennai     Air Conditioner     113     223     223     133
                            Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
Telangana Hyderabad         Air Conditioner     183     113     203     183
                            Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
          Rangareddy        Air Conditioner     203     253     283     113
                            Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
          Secunderabad      Air Conditioner     223     233     213     113
                            Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223

Year                                           2022            2023
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     263     203     153
                            Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
          North Bangalore   Air Conditioner     273     223     283     183
                            Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
          South Bangalore   Air Conditioner     143     213     183     103
                            Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
Tamilnadu Central Chennai   Air Conditioner      93     143     193     143
                            Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
          North Chennai     Air Conditioner     203     153     143     223
                            Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
          South Chennai     Air Conditioner     283     243     243     153
                            Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
Telangana Hyderabad         Air Conditioner     103     273     183     183
                            Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
          Rangareddy        Air Conditioner     283     173     193     233
                            Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
          Secunderabad      Air Conditioner     103     113     183     213
                            Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273

In [5]:
print(df.columns)

MultiIndex([('2014', 'Jan-Jun'),
            ('2014', 'Jul-Dec'),
            ('2015', 'Jan-Jun'),
            ('2015', 'Jul-Dec'),
            ('2016', 'Jan-Jun'),
            ('2016', 'Jul-Dec'),
            ('2017', 'Jan-Jun'),
            ('2017', 'Jul-Dec'),
            ('2018', 'Jan-Jun'),
            ('2018', 'Jul-Dec'),
            ('2019', 'Jan-Jun'),
            ('2019', 'Jul-Dec'),
            ('2020', 'Jan-Jun'),
            ('2020', 'Jul-Dec'),
            ('2021', 'Jan-Jun'),
            ('2021', 'Jul-Dec'),
            ('2022', 'Jan-Jun'),
            ('2022', 'Jul-Dec'),
            ('2023', 'Jan-Jun'),
            ('2023', 'Jul-Dec')],
           names=['Year', 'Semester'])

In [6]:
print(df.index.levels)

[['Karnataka', 'Tamilnadu', 'Telangana'], ['Central Bangalore', 'Central Chennai', 'Hyderabad', 'North Bangalore', 'North Chennai', 'Rangareddy', 'Secunderabad', 'South Bangalore', 'South Chennai'], ['Air Conditioner', 'Smart Phone', 'Smart TV']]

In [7]:
idx=pd.IndexSlice

## Using .loc method, find the number of units of Smart Tv sold in Central Channai in year 2020

In [8]:
region = 'Central Chennai'
product = 'Smart TV'
units_sold = df.loc[(slice(None), region, product), ('2020', slice(None))].sum().sum()

print(units_sold)

396

## using .loc and slice(), get the records from Rangareddy, Telangana and all records from Tamilnadu for years 'Jul-Dec' of 2016 till & including 2019

In [10]:
df.loc[('Tamilnadu'), (slice('2016', '2019'), 'Jul-Dec')]

Year                               2016    2017    2018    2019
Semester                        Jul-Dec Jul-Dec Jul-Dec Jul-Dec
Region          Product
Central Chennai Air Conditioner     233     103     263      93
                Smart Phone         193     223     153     133
                Smart TV            113     203     283     183
North Chennai   Air Conditioner     193     243     103     173
                Smart Phone         123     143     223     253
                Smart TV            263     133     193     263
South Chennai   Air Conditioner     283     283     163     243
                Smart Phone         263     263     283     143
                Smart TV            143     183     103     103

## using .xs(), get all the records from Karnataka belonging to Air Conditioner

In [11]:
karnataka_air_conditioner = df.xs(key=('Karnataka', 'Air Conditioner'), level=('State', 'Product'))

In [12]:
karnataka_air_conditioner

Year                 2014            2015            2016            2017  \
Semester          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Region
Central Bangalore     143     273     273     103     103     113     143
North Bangalore       113     243     173     113     253     223     203
South Bangalore       203     173     123     213     153     173     203

Year                         2018            2019            2020          \
Semester          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Region
Central Bangalore     243     283     153     193     153     193     133
North Bangalore       113     213     283     243     143     203     253
South Bangalore       213     213     103     273     123     163      93

Year                 2021            2022            2023
Semester          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Region
Central Bangalore     133     123     253     263     203     153
North Bangalore       203     253     273     223     283     183
South Bangalore       283     143     143     213     183     103

## using .xs(), get all the records from 'Jan-Jun'

In [13]:
records = df.xs(key='Jan-Jun', level='Semester', axis=1)
records

Year                                         2014  2015  2016  2017  2018  \
State     Region            Product
Karnataka Central Bangalore Air Conditioner   143   273   103   143   283
                            Smart Phone       163   283   193   183   203
                            Smart TV          263   133   223   263   273
          North Bangalore   Air Conditioner   113   173   253   203   213
                            Smart Phone       263   153   203   143   223
                            Smart TV          103   213   253   173   143
          South Bangalore   Air Conditioner   203   123   153   203   213
                            Smart Phone       283   113   123    93    93
                            Smart TV          143   213   223   223   123
Tamilnadu Central Chennai   Air Conditioner   103    93   233   233   173
                            Smart Phone       133   233   223   103   283
                            Smart TV          183   163   103   213   173
          North Chennai     Air Conditioner    93    93   163   273   263
                            Smart Phone       143   173   123   183   203
                            Smart TV          273   143   273   263   113
          South Chennai     Air Conditioner   263   193   193   173   143
                            Smart Phone       283   133   283   173   153
                            Smart TV          223   173    93   103   243
Telangana Hyderabad         Air Conditioner   153   193   283    93   153
                            Smart Phone       253    93   173    93   153
                            Smart TV          183   263   263   233   263
          Rangareddy        Air Conditioner   123   223   193    93   133
                            Smart Phone        93   233   243   213    93
                            Smart TV          113   253   143   143   113
          Secunderabad      Air Conditioner   173   183   273   203   243
                            Smart Phone        93   263   173   213   133
                            Smart TV          123   103   113   263    93

Year                                         2019  2020  2021  2022  2023
State     Region            Product
Karnataka Central Bangalore Air Conditioner   193   193   133   253   203
                            Smart Phone       253    93   123   223   113
                            Smart TV          133   163    93   243   223
          North Bangalore   Air Conditioner   243   203   203   273   283
                            Smart Phone       103   273   213    93   213
                            Smart TV          213   173   273   213   243
          South Bangalore   Air Conditioner   273   163   283   143   183
                            Smart Phone       113   123   263   203   143
                            Smart TV          273   203   213   133   153
Tamilnadu Central Chennai   Air Conditioner   283   153   113    93   193
                            Smart Phone       173   143   233   143   113
                            Smart TV          213   123   173    93   213
          North Chennai     Air Conditioner   183   213   153   203   143
                            Smart Phone       103   263   153   283   243
                            Smart TV          123   173   163    93   183
          South Chennai     Air Conditioner   263   113   223   283   243
                            Smart Phone        93   193   103   243   283
                            Smart TV          113   223   213   203   143
Telangana Hyderabad         Air Conditioner   243   183   203   103   183
                            Smart Phone       193   193   283   103   243
                            Smart TV           93   243   193    93   193
          Rangareddy        Air Conditioner   273   203   283   283   193
                            Smart Phone       243   283   273   213   193
                            Smart TV          163   203   233   253   183
          Secunderabad      Air Conditioner   173   223   213   103   183
                            Smart Phone       203   263   143   203   283
                            Smart TV          193   163   123   143   143

## using 'get_level_values', get all records belonging to 'Smart TV'

In [14]:
smart_tv = df[df.index.get_level_values('Product') == 'Smart TV']

In [15]:
smart_tv

Year                                    2014            2015            2016  \
Semester                             Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region            Product
Karnataka Central Bangalore Smart TV     263     103     133     103     223
          North Bangalore   Smart TV     103     173     213     203     253
          South Bangalore   Smart TV     143     193     213     243     223
Tamilnadu Central Chennai   Smart TV     183     233     163     163     103
          North Chennai     Smart TV     273     153     143     283     273
          South Chennai     Smart TV     223     133     173     203      93
Telangana Hyderabad         Smart TV     183     213     263     183     263
          Rangareddy        Smart TV     113     213     253     253     143
          Secunderabad      Smart TV     123     123     103     143     113

Year                                            2017            2018          \
Semester                             Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     213     263      93     273     283
          North Bangalore   Smart TV     173     173     113     143     253
          South Bangalore   Smart TV     193     223     203     123     253
Tamilnadu Central Chennai   Smart TV     113     213     203     173     283
          North Chennai     Smart TV     263     263     133     113     193
          South Chennai     Smart TV     143     103     183     243     103
Telangana Hyderabad         Smart TV     113     233     273     263     273
          Rangareddy        Smart TV     273     143     253     113     173
          Secunderabad      Smart TV     143     263     163      93     243

Year                                    2019            2020            2021  \
Semester                             Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region            Product
Karnataka Central Bangalore Smart TV     133     123     163     173      93
          North Bangalore   Smart TV     213     103     173     283     273
          South Bangalore   Smart TV     273     273     203     153     213
Tamilnadu Central Chennai   Smart TV     213     183     123     273     173
          North Chennai     Smart TV     123     263     173     103     163
          South Chennai     Smart TV     113     103     223     193     213
Telangana Hyderabad         Smart TV      93     153     243     253     193
          Rangareddy        Smart TV     163      93     203     183     233
          Secunderabad      Smart TV     193     263     163     153     123

Year                                            2022            2023
Semester                             Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     153     243     233     223     203
          North Bangalore   Smart TV     233     213     233     243     163
          South Bangalore   Smart TV     203     133     113     153     193
Tamilnadu Central Chennai   Smart TV     283      93     183     213     163
          North Chennai     Smart TV     233      93     283     183     133
          South Chennai     Smart TV     203     203     163     143      93
Telangana Hyderabad         Smart TV     243      93     263     193     193
          Rangareddy        Smart TV     223     253     183     183     123
          Secunderabad      Smart TV     223     143     253     143     273

## Give a detailed data about the Tamilnadu, and then tell me how many items were sold in total from this warehouse over the 10 year period?

In [16]:
tamilnadu_data = df.xs(key='Tamilnadu', axis=0, level='State')

print("Detailed Data for Tamilnadu:")
print(tamilnadu_data)

total_items_sold = tamilnadu_data.sum().sum()

print(f"\nTotal items sold from Tamilnadu over the 10-year period: {total_items_sold}")
total_items_sold

Detailed Data for Tamilnadu:
Year                               2014            2015            2016  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Region          Product
Central Chennai Air Conditioner     103     213      93     283     233
                Smart Phone         133     263     233     153     223
                Smart TV            183     233     163     163     103
North Chennai   Air Conditioner      93     133      93     153     163
                Smart Phone         143     243     173     153     123
                Smart TV            273     153     143     283     273
South Chennai   Air Conditioner     263     233     193     203     193
                Smart Phone         283     143     133     273     283
                Smart TV            223     133     173     203      93

Year                                       2017            2018          \
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Region          Product
Central Chennai Air Conditioner     233     233     103     173     263
                Smart Phone         193     103     223     283     153
                Smart TV            113     213     203     173     283
North Chennai   Air Conditioner     193     273     243     263     103
                Smart Phone         123     183     143     203     223
                Smart TV            263     263     133     113     193
South Chennai   Air Conditioner     283     173     283     143     163
                Smart Phone         263     173     263     153     283
                Smart TV            143     103     183     243     103

Year                               2019            2020            2021  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Region          Product
Central Chennai Air Conditioner     283      93     153     273     113
                Smart Phone         173     133     143     153     233
                Smart TV            213     183     123     273     173
North Chennai   Air Conditioner     183     173     213     123     153
                Smart Phone         103     253     263     153     153
                Smart TV            123     263     173     103     163
South Chennai   Air Conditioner     263     243     113     223     223
                Smart Phone          93     143     193     163     103
                Smart TV            113     103     223     193     213

Year                                       2022            2023
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Region          Product
Central Chennai Air Conditioner     183      93     143     193     143
                Smart Phone         123     143     233     113     123
                Smart TV            283      93     183     213     163
North Chennai   Air Conditioner     123     203     153     143     223
                Smart Phone         173     283     213     243     193
                Smart TV            233      93     283     183     133
South Chennai   Air Conditioner     133     283     243     243     153
                Smart Phone         133     243     103     283     183
                Smart TV            203     203     163     143      93

Total items sold from Tamilnadu over the 10-year period: 33230

33230

## How many Smart TV were sold in Telangana & Karnataka during the year 2017?

In [17]:
smart_tv_sales_2017 = df.xs(key='Smart TV', level='Product').loc[:, '2017']

smart_tv_sales_telangana = smart_tv_sales_2017.xs(key='Telangana', level='State').sum()
smart_tv_sales_karnataka = smart_tv_sales_2017.xs(key='Karnataka', level='State').sum()

x=smart_tv_sales_telangana.sum()
x1=smart_tv_sales_karnataka.sum()

print(f"Number of Smart TVs sold in Telangana during 2017: {smart_tv_sales_telangana}")
print(f"Number of Smart TVs sold in Karnataka during 2017: {smart_tv_sales_karnataka}")

print(f"total Smart TVs sold in Telangana during 2017: {x}")
print(f" total Smart TVs sold in Karnataka during 2017: {x1}")

Number of Smart TVs sold in Telangana during 2017: Semester
Jan-Jun    639
Jul-Dec    689
dtype: int64
Number of Smart TVs sold in Karnataka during 2017: Semester
Jan-Jun    659
Jul-Dec    409
dtype: int64
total Smart TVs sold in Telangana during 2017: 1328
 total Smart TVs sold in Karnataka during 2017: 1068

## Get me list of all items that were sold in the Jul-Dec semester of the year 2020 for all States

In [18]:
target_item = "Air Conditioner","Smart Phone","Smart TV"
target_year = "2020"
target_semester = "Jul-Dec"
target_state = "Telangana","Karnataka","Tamilnadu"

filtered_data = df.loc[
    (target_state, slice(None), target_item),
    (target_year, target_semester),
]



unique_products = filtered_data.index.get_level_values('Product').unique()
print("Unique Products:")
print(unique_products.tolist())

Unique Products:
['Air Conditioner', 'Smart Phone', 'Smart TV']

In [19]:
filtered_data

State      Region             Product
Telangana  Hyderabad          Air Conditioner    113
           Rangareddy         Air Conditioner    253
           Secunderabad       Air Conditioner    233
           Hyderabad          Smart Phone        253
           Rangareddy         Smart Phone        223
           Secunderabad       Smart Phone        163
           Hyderabad          Smart TV           253
           Rangareddy         Smart TV           183
           Secunderabad       Smart TV           153
Karnataka  Central Bangalore  Air Conditioner    133
           North Bangalore    Air Conditioner    253
           South Bangalore    Air Conditioner     93
           Central Bangalore  Smart Phone         93
           North Bangalore    Smart Phone        193
           South Bangalore    Smart Phone        143
           Central Bangalore  Smart TV           173
           North Bangalore    Smart TV           283
           South Bangalore    Smart TV           153
Tamilnadu  Central Chennai    Air Conditioner    273
           North Chennai      Air Conditioner    123
           South Chennai      Air Conditioner    223
           Central Chennai    Smart Phone        153
           North Chennai      Smart Phone        153
           South Chennai      Smart Phone        163
           Central Chennai    Smart TV           273
           North Chennai      Smart TV           103
           South Chennai      Smart TV           193
Name: (2020, Jul-Dec), dtype: int64

##  What method is used to know if the MultiIndex index is sorted or not

## 1st method

In [27]:
is_sorted = df.index._is_lexsorted()

print(f" the MultiIndex lexsorted: {is_sorted}")

 the MultiIndex lexsorted: True

## 2nd method

In [24]:
is_sorted = all(df.index[i] <= df.index[i + 1] for i in range(len(df.index) - 1))
print("Is the MultiIndex sorted?", is_sorted)

Is the MultiIndex sorted? True